<div id='app'>
  <div class="home">
    <header>
      <div class="container row-fluid">
        <div class='span12'
        <div id="sub" class="span3 text-right">
          <h2>Home</h2>
        </div>
        <div id="main" class="span12 text-center">
          <h1>SnailNet</h1>
        </div>
      </div>
      </div>
    </header>
<div id="userNotLoggedIn">
    <div class="row-fluid stoolGagues" style="padding-bottom: 50px; text-align: center;">
      <div class="span3"><div id="chartDiv1" style="width: 200px; height:150px;"></div></div>
      <div class="span3"><div id="chartDiv2" style="width: 200px; height:150px;"></div></div>
      <div class="span3"><div id="chartDiv3" style="width: 200px; height:150px;"></div></div>
      <div class="span3"><div id="chartDiv4" style="width: 200px; height:150px;"></div></div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div id="newletter">
          <p><%= @message.body.html_safe %></p>
        </div>
      </div>
      <div class="span4">
        <%= form_for("user", :url => user_session_path, :html => {:class => "form-horizontal"}) do |f| %>
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="user_email">Email</label>
              <div class="controls"><%= f.text_field :email, :placeholder => "Email" %></div>
            </div>
            <div class="control-group">
              <label class="control-label" for="user_password">Password</label>
              <div class="controls"><%= f.password_field :password, :placeholder => "Password" %>
        </div>
            <div class="control-group">
              <%= f.label :remember_me, :class => 'control-label' %>
              <div class="controls"><%= f.check_box :remember_me, :style => "margin-top: 10px;" %></div>
            </div>
            <div class="form-actions" ><%= f.submit 'Sign in', :class => 'btn btn-primary' %>
            <%= link_to 'Sign up', new_user_registration_path, :class => 'btn', :style => 'margin-left: 20px;' %> </div></div>
            <%= link_to "Forgot your password?", new_password_path('user') %>
          </fieldset>
        <% end %>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div> <!-- id="userNotLoggedIn" -->

<div id="userLoggedIn">
  <div class="container row-fluid">
    <div class="span12" style="text-align:center; padding-bottom: 45px;">
      <div class="span4"></div>
      <div class="span4">
        <div class="switch" data-on-label="Me" data-off-label="All">
          <input type="checkbox">
        </div>
      </div>
      <div class="span4"></div>
    </div>
  </div>

  <div id="leaderboard" class="container row-fluid">
    <div class="span12">
      <table class="table table-bordered table-striped leaderboard">
          <thead>
              <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Score</th>
              </tr>
          </thead>
          <tbody>
            <% @users.each_with_index do |user, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= user.name %></td>
                  <td><%= user.score %></td>
                </tr>
            <% end %>
          </tbody>
      </table>
      <div class="span4"></div>
      <div class="span4"><div id="chartDivUser" style="width: 200px; height:150px;"></div></div>
      <div class="span4"></div>

    </div>
  </div> <!-- userLoggedIn -->

      <footer style="padding-top:50px;">
        <div class="footer">
        <div class="container row-fluid">
          <div class="span3">
            Copyright 2013 Wilder Snail
          </div>
          <div class="span3">
            About Us
          </div>
          <div class="span3">
            What is SnailNet?
          </div>
          <div class="span3">
            Open Source
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script type="text/javascript">
  $( document ).ready(function() {
    <% if user_signed_in? %>
      $('#userLoggedIn').fadeIn();
      $('#userNotLoggedIn').hide();
    <% else %>
      $('#userLoggedIn').hide();
      $('#userNotLoggedIn').fadeIn();
    <% end %>
  });
</script>
